@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
}

/* styling body */
body{
  /* background-color: rgb(53, 53, 82); */
  background: url(pexels-pixabay-206359.jpg) fixed no-repeat center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  height: auto;
}

.form{
  background-color: azure;
  border: 1px solid transparent;
  border-radius: 5px;
  /* width: 50%; */

  padding-top: 10px;
  padding-bottom: 10px;
}

.form-centre{
  /* form to flex */
  display: flex;

  /* arranging content to centre */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.roboto-font{
  font-family: 'Roboto', sans-serif;
}