*{
    padding: 0;
    margin: 0;
}

body{
    height: 100%;
    background-color: rgb(244, 201, 240);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    padding-top: 50px;
    text-align: center;
}
.buttons{
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
}
.buttons div{
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons div:hover{
    cursor: pointer;
}
input{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 8px 15px;
    margin-bottom: 10px;
}
